@charset "UTF-8";

div{
    padding: 6px;
}
button{
    width: 250px;
    text-align: center;
    margin: auto;
}
h1{
    font-family: 'New Tegomin', serif;
    font-size: 70px;
    margin: 0px;
    padding: 0px;
}
h2{
    font-family: 'New Tegomin', serif;
    font-size: 35px;
    margin: 15px;
    
}
body{
    background-image: linear-gradient(to right, #C1C1C1 , #8B8B8B);
    display:flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
img{
    width: 150px;
    height: 150px;
    margin: 0px;
    padding: 0px;
}
.container {
    width: 90vw;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box {
    height: 100px;
    align-items: center;
    text-align: center;

}
button{
    border-radius: 15px;
    padding: auto;
    margin: auto;
}